<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Dashboard</title>
</head>
<body>
	User Dashboard <br /><br />
	
	<span data-th-text="${loggedInUserData.name}"></span><br />
	<span data-th-text="${loggedInUserData.email}"></span><br /><br />
	
	<div data-th-if="${loggedInUserData}">
	
		<span>User is logged in : <span data-th-text="${loggedInUserData.name}"></span></span><br />
		<span data-th-text="${loggedInUserData.name}"></span><br />
		<span data-th-text="${loggedInUserData.email}"></span><br />
	
	</div>
	
</body>
</html>