<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Home Page</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-items-center">
		
		<div>
			<h3 class="font-weight-bold">Manage and Store contacts in easy way.. </h3>
			<span>Want to store contacts securely?</span><br />
			<span>Contact Manager will be best solution for you..</span>
			<br /><br />
			<div class="text-center">
				<a th:href="@{/signup}">
					<button class="btn bg-primary">Let's Get Started</button>
				</a>
			</div>
			
			<!-- Button to navigate to sign i page. Let get started -->
		</div>
		
	</section>

</body>
</html>