<!doctype html>
<html lang="en" data-th-replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Login</title>
</head>
<body>

	<section>
	
	<div class="container">
	
			<div class="my-form mt-3">
		
				<div class="col-md-6 offset-md-3">
			
					<div class="form-header text-center mt-2">Welcome to Contact Manager</div>
				
					<div class="form">
					
						<form data-th-action="@{/authenticate}" method="post">
						
							<!-- Email Field -->
							<div class="mb-3">
						    	<label for="email" class="form-label">Email Address</label>
						    	<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
						  	</div>
						  	
						  	<!-- Password Field -->
						  	<div class="mb-3">
						    	<label for="password" class="form-label">Password</label>
						    	<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
						  	</div>
						  	
						  	<div id="error" class="form-text text-danger mb-2" data-th-if="${param.error}">
								Invalid email and password.
							</div>
							<div id="success" class="form-text text-success mb-2" data-th-if="${param.logout}">
								You have been logged out.
							</div>
						  	<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						<div class="col-md-12">
                            <div class="login-or">
                               <hr class="hr-or">
                               <span class="span-or">OR</span>
                            </div>
                        </div>
						<div class="social-buttons-container d-flex justify-content-center mt-10">
							<a class = "py-2 login-with-google-btn" data-th-href="@{/oauth2/authorization/google}">Login With Google</a>
						</div>
						<div class="social-buttons-container d-flex justify-content-center mt-10">
							<a class = "py-2 login-with-github-btn mt-2" data-th-href="@{/oauth2/authorization/github}">Login With GitHub</a>
						</div>
						<div class="form">
                        	<p class="text-center">Don't have account? <a data-th-href="@{/signup}" id="signup" class="text-decoration-none">Sign up here</a></p>
                        </div>
						
					</div>
				
				</div>
		
			</div>

		</div>	
		
	</section>
	
</body>
</html>