<!doctype html>
<html lang="en" data-th-replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>SignUp Page</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="my-form mt-3">
		
			<div class="col-md-6 offset-md-3">
		
				<div class="form-header text-center mt-2">Welcome to Contact Manager</div>
			
				<div class="form">
				
					<form data-th-action="@{/register}" method="post" th:object="${userForm}">
					
					<!-- Name Field -->
					<div class="mb-3">
					    <label for="name" class="form-label">Name</label>
					    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp">
					    <div id="nameHelp" class="form-text text-danger px-1" data-th-each="e : ${#fields.errors('name')}" data-th-text="${e}">We'll never share your email with anyone else.</div>					    
				  	</div>
				  	
				  	<!-- Email Field -->
					<div class="mb-3">
					    <label for="email" class="form-label">Email</label>
					    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
					    <div id="emailHelp" class="form-text text-danger px-1" data-th-each="e : ${#fields.errors('email')}" data-th-text="${e}">We'll never share your email with anyone else.</div>
				  	</div>
				  	
				  	<!-- Password Field -->
				  	<div class="mb-3">
					    <label for="password" class="form-label">Password</label>
					    <input type="password" class="form-control" id="password" name="password">
					    <div id="passwordHelp" class="form-text text-danger px-1" data-th-each="e : ${#fields.errors('password')}" data-th-text="${e}">We'll never share your email with anyone else.</div>
				  	</div>
				  	
				  	<!-- Confirm Password Field -->
				  	<div class="mb-3">
					    <label for="confirmPassword" class="form-label">Confirm Password</label>
					    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
					    <div id="confirmPasswordHelp" class="form-text text-danger px-1" data-th-each="e : ${#fields.errors('confirmPassword')}" data-th-text="${e}">We'll never share your email with anyone else.</div>
				  	</div>
				  	
				  	<!-- Global Message -->
				  	<div class="global-message" data-th-if="${session.message != null}" data-th-classappend="${session.message.type}">
				  		<p data-th-text="${session.message.content}"></p>
				  		<data-th-block data-th-text="${@sessionHelper.removeVerificationMessageFromSession()}"></data-th-block>
				  	</div>
				  					  	
				  	<div class="btn-container text-center">
					  	<button type="submit" class="btn btn-primary">Submit</button>
					  	<button type="reset" class="btn btn-secondary">Reset</button>				  	
				  	</div>
				
				</form>
				
				</div>
			
			</div>
		
		</div>

		</div>
	</section>

</body>
</html>