<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>SignUp Page</title>
</head>
<body>

	<section>
		<div class="container">
		
		<div class="my-form mt-2">
		
			<div class="col-md-6 offset-md-3">
		
				<div class="form-header text-center mt-2">Welcome to Contact Manager</div>
			
				<div class="form">
				
					<form th:action="@{/register}" method="post">
					
					<!-- Name Field -->
					<div class="mb-3">
					    <label for="name" class="form-label">Name</label>
					    <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
					    <div id="nameHelp" class="form-text">We'll never share your name with anyone else.</div>
				  	</div>
				  	
				  	<!-- Email Field -->
					<div class="mb-3">
					    <label for="email" class="form-label">Email</label>
					    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
					    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				  	</div>
				  	
				  	<!-- Password Field -->
				  	<div class="mb-3">
					    <label for="password" class="form-label">Password</label>
					    <input type="password" class="form-control" id="password">
				  	</div>
				  	
				  	<!-- About Field -->
					<div class="mb-3">
					    <textarea placeholder="Enter something.." rows="6" class="form-control"></textarea>
				  	</div>
				  	
				  	<div class="mb-3 form-check">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					    <label class="form-check-label" for="exampleCheck1">Check me out</label>
				  	</div>
				  	
				  	<div class="btn-container text-center">
					  	<button type="submit" class="btn btn-primary">Submit</button>
					  	<button type="reset" class="btn btn-secondary">Reset</button>				  	
				  	</div>
				
				</form>
				
				</div>
			
			</div>
		
		</div>
		
		</div>
	</section>

</body>
</html>