<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>SignUp Page</title>
</head>
<body>

	<section>
		<div class="container">
		
		<div class="my-form mt-2">
		
			<div class="col-md-6 offset-md-3">
		
				<div class="form-header text-center mt-2">Welcome to Contact Manager</div>
			
				<div class="form">
				
					<form th:action="@{/register}" method="post" th:object="${user}">
					
					<!-- Name Field -->
					<div class="mb-3">
					    <label for="name" class="form-label">Name</label>
					    <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" th:value="${user.name}" required>
					    <div id="nameHelp" class="form-text">We'll never share your name with anyone else.</div>
				  	</div>
				  	
				  	<!-- Email Field -->
					<div class="mb-3">
					    <label for="email" class="form-label">Email</label>
					    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" th:value="${user.email}" required>
					    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
				  	</div>
				  	
				  	<!-- Password Field -->
				  	<div class="mb-3">
					    <label for="password" class="form-label">Password</label>
					    <input type="password" class="form-control" id="password" name="password">
				  	</div>
				  	
				  	<!-- About Field -->
					<div class="mb-3">
					    <textarea placeholder="Enter something.." rows="6" class="form-control" id="about" name="about" th:value="${user.about}"></textarea>
				  	</div>
				  	
				  	<!-- Terms & Conditions -->
				  	<div class="mb-3 form-check">
					    <input type="checkbox" class="form-check-input" id="agreement" name="agreement">
					    <label class="form-check-label" for="agreement" th:classappend="${agreementappend}">Terms & Conditions</label>
				  	</div>
				  	
				  	<!-- Global Message -->
				  	<div class="global-message" th:if="${session.message}" th:classappend="${session.message.type}">
				  		<p th:text="${session.message.content}"></p>
				  		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				  	</div>
				  	
				  	<div class="btn-container text-center">
					  	<button type="submit" class="btn btn-primary">Submit</button>
					  	<button type="reset" class="btn btn-secondary">Reset</button>				  	
				  	</div>
				
				</form>
				
				</div>
			
			</div>
		
		</div>
		
		</div>
	</section>

</body>
</html>